@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #11151f;
}

::-webkit-scrollbar-thumb {
  background: #283147;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #394663;
}
